body{
    clear:both;
    background-color: rgb(185, 179, 179);
    margin: 0;
}

.header_container{

    height: 80px;
    background-color: #ffffff;
    border: solid #cccccc 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

#logo {
    float: left;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 700;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    margin-left:125px;
    
}

#prof_pic{
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0px;
    position: static;
}

#prof_para{
    line-height: 30px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

#right_header{
    color: #777777;
    float: right;
    margin: 30px;
    position: static;
}

#about_link{
    margin: 10px;
    border-right: solid #777777 1px;
    font: 20px;
    padding-right: 10px;
}

#portfolio_link{
    margin: 10px;
    border-right: solid #777777 1px;
    font: 20px;
    padding-right: 10px;
}

#contact_link{
    margin: 10px;
    font: 20px;
    margin-right: 125px;
}

.body_container{
    max-width: 960px;
    height: 960px;
    border: solid #dddddd 1px;
    margin-left: 125px;
    background-color: #ffffff;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;
    padding: 20px;
    margin: 10px;
}

.main_container{
    border: solid #777777 1px;
    margin: 0px 25px 0 22px;
    float: left;
    width: 95%
}

#contact_form{
    float:left;
    margin: 0px 25px 0 25px;
    width:850px;
    height: 600px;
    padding: 0;

}

